.react-grid-item {
    background: url(../assets/images/temp/bd.png);
    background-size: 100% 100%;
    position: relative;
    .bg-icon {
        &:nth-child(1) {
            position: absolute;
        }
        &:nth-child(2) {
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(90deg);
        }
        &:nth-child(3) {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: rotate(270deg);
        }
        &:nth-child(4) {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: rotate(-180deg);
        }
        &:nth-child(5) {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
        &:nth-child(6) {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%) rotate(180deg);
        }
    }
    .title-box {
        height: 30px;
        width: 360px;
        max-width: 75%;
        background: url(../assets/images/temp/bg-title.png);
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        font-size: 14px;
        color: #fff;
    }
}

.droppable-element {
    background: #fff;
    width: 100px;
    height: 100px;
}

.cst-layout {
    min-height: 100%;
}